footer.footer {
    width: 100vw;
    display: block;
    position: fixed !important;
    bottom: 0 !important;
    background-color: #1e1e1e;

    .audio-player-song-label {
        width: 100% !important;
        position: relative;
        top: .5rem;
    }
}