nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    background: #1e1e1e;
    padding: 10px;
    margin-bottom: 2rem;
}
nav a {
    color: #edefee;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}
